<div class="ekart--search--product">
    <input class="ekart-search-product-input"  #searchInput>
    <!-- <input class="ekart-search-product-input" [(ngModel)]="searchText" (input)=" onsearchTextChanged()"> -->
    <!-- [value]="searchText" (input)="updateSearchstring($event)" -->
    <button class="btn btn-search" (click)="updateSearchstring()" >Search</button>
    <!-- [ngClass]="{'btn':true,'btn-search':searchText,'btn-search-disabled':!searchText}"[disabled]="!searchText" -->
</div>
<div class="ekart-search-result-for">
    <p *ngIf="searchText !=''"><strong>Search result for:</strong>{{searchText}}</p>
</div>



<!-- <input #myInput type="text">
<button (click)="logValue(myInput.value)">Log Value</button> -->















  